.slide-text {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -2px;
  background: linear-gradient(256.7deg,#1f3c6a 0,#1bb4b7 100%);
}

.home-one-hero {
  background: linear-gradient(256.7deg,#1f3c6a 0,#1bb4b7 100%);
}